/* Global */
*, *::before, *::after {
    box-sizing: border-box; }
  
body {
    margin: auto;
    font-size: 16px;
    line-height: 1.7;
    font-family: #ffffff;
    color: black;
}






.splash {
    height: 100vh;
    position: relative;
    background-image: url("https://images.pexels.com/photos/134469/pexels-photo-134469.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: center center;
    object-fit: cover;
    background-size: cover;
   /* background-attachment: fixed;*/
}
/* navigation */

.navigation {
    text-align: right;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    letter-spacing: 4px;
   
    font-weight: 800;
    padding: 10px; 
}

.splash ul li {

    display: inline-block;
    margin-left: 10px;
    font-size: 12px;  
}
.splash h4 {
    color: gold;
    font-size: 21px;
}
.splash a {
    text-decoration: none;  /*wylacza podkreslenia w linku*/
    color: #ffffff;
    padding-left: 10px;

.row {
    position: relative;
    
}    
}
.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.splash h1,h2 {
    color:blue;

}
.splash h1{
    font-size: 48px;
}

.splash h2 {
    font-size: 32px;
}

.btn {
    background-color:#fed136;
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-family: #ffffff;
   
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    
}

/*services*/

.services {
    margin-left: auto;
    margin-right: auto;
}
.title {
    text-align: center;
    padding: 0px 0 30px 0;
}

.cart-portfolio {
    text-align: center;
}

h3 {
    font: bold;
}








/* our-portfolio*/
.our-portfolio {
    background-color: #8b8181;
}
.our-portfolio-title {
    text-align: center;
    padding-bottom: 20px;
}

.cart {
    background-color: #ffffff;
    margin-bottom: 40px;
}
.cart img {
    height: 340px;
    width: 100%;
    object-fit: cover;
}

.cart-description {
    text-align: center;
    padding: 1px 0;
}

.cart-description p {
    font: bold;
}
/*footer*/


.footer ul li {

    display: inline-block;
    margin-left: 10px;
    font-size: 40px;

}

.footer li a {

    color: #000000;  
}

.footer p {
    padding: 10px 0;
}


h4 {
    font-size: 44px;
}
 section {
     padding: 60px 0;
 }
 @media  (max-width: 450px) {
    section {
        flex-direction: column;
    }
        }

    
